<div>
    <h2 class="text-center title">Incident Report Form</h2>

    <div class="container vh-100">
        <form [formGroup]="viewform" (ngSubmit)="onSubmit()" class="form">
            <div class="form-group p-4">
                <label for="incident-title">Incident Title</label>
                <input type="text" class="form-control" id="incident-title" formControlName="incidentTitle" required >
                <div *ngIf="viewform.get('incidentTitle')!.hasError('required') && viewform.get('incidentTitle')?.touched"
                    class="text-danger validate">
                    Title is required.
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="form-group p-4">
                    <label for="incident-occured-date">Incident Occurred Date</label>
                    <input type="date" class="form-control" id="incident-occured-date"
                        formControlName="incidentOccuredDate" required >
                    <div *ngIf="viewform.get('incidentOccuredDate')!.hasError('required') && viewform.get('incidentOccuredDate')?.touched"
                        class="text-danger validate">
                        Incident Occured Date is required.
                    </div>
                </div>
                <div class="form-group p-4">
                    <label for="incident-occured-time">Incident Occurred Time</label>
                    <input type="time" class="form-control" id="incident-occured-time"
                        formControlName="incidentOccuredTime" required>
                    <div *ngIf="viewform.get('incidentOccuredTime')!.hasError('required') && viewform.get('incidentOccuredTime')?.touched"
                        class="text-danger validate">
                        Incident Occured Time is required.
                    </div>
                </div>
            </div>

            <div class="form-group p-4">
                <label for="incident-description">Incident Description</label>
                <textarea class="form-control" id="incident-description" rows="4" formControlName="incidentDescription"
                    required  ></textarea>
                <div *ngIf="viewform.get('incidentDescription')!.hasError('required') && viewform.get('incidentDescription')?.touched"
                    class="text-danger validate">
                    Incident Description is required.
                </div>
            </div>

            <div class="form-group p-4">
                <label for="incident-attachment">Attach Documents</label>
                <input type="file" class="form-control-file" id="incident-attachment"
                    formControlName="incidentAttachment" multiple>
            </div>

            <div class="form-group p-4">
                <label for="incidents-type">Incident Type</label>
                <select class="form-control" id="incidents-type" formControlName="incidentType" >
                    <option value="SecurityIncident">Security Incident</option>
                    <option value="PrivacyIncident">Privacy Incident</option>
                    <option value="QualityIncident">Quality Incident</option>
                </select>
            </div>

            <div class="form-group p-4">
                <label for="category">Category</label>
                <select class="form-control" id="category" formControlName="category" >
                    <option value="denialOfService">Denial of Service</option>
                    <option value="loss">Loss</option>
                    <option value="theft">Theft</option>
                    <option value="malware">Malware</option>
                    <option value="ransomware">Ransomware</option>
                    <option value="unauthorizedUse">Unauthorized Use</option>
                    <option value="disclosure">Disclosure</option>
                    <option value="unauthorizedAccess">Unauthorized Access</option>
                    <option value="phishing">Phishing</option>
                    <option value="unplannedDowntime">Unplanned Downtime</option>
                    <option value="insecureSite">Insecure Site</option>
                    <option value="insecureCoding">Insecure Coding</option>
                    <option value="physicalSecurity">Physical Security</option>
                    <option value="spoofing">Spoofing</option>
                    <option value="botnetAttack">Botnet Attack</option>
                    <option value="exposedAPIs">Exposed APIs</option>
                    <option value="disclosingIPData">Disclosing IP Data</option>
                </select>
            </div>

            <div class="form-group p-4">
                <label for="priority">Incident Priority</label>
                <select class="form-control" id="priority" formControlName="priority" >
                    <option value="High-L1">High</option>
                    <option value="Medium-L2">Medium</option>
                    <option value="Low-L3">Low</option>
                </select>
            </div>

            <div class="d-flex p-4 justify-content-center align-items-center">
                <button type="submit" class="submit">Submit</button>
                <button type="button" class="draft" (click)="saveAsDraft()">Save as Draft</button>
            </div>
        </form>
    </div>
</div>
