

<div class="report-form">
    <h4 class="text-center title">Incident Report Form</h4>
    <p-toast />
    <div class="form-container">
        <form [formGroup]="viewform" (ngSubmit)="onSubmit()" class="form p-fluid form-container">
            <div class="p-grid p-fluid m-3">
                <div class="p-field p-col-12 p-md-4">
                    <label for="incident-title">Incident Title</label>
                    <input pInputText type="text" id="incident-title" formControlName="IncidentTitle" required>
                    <div *ngIf="viewform.get('IncidentTitle')!.hasError('required') && viewform.get('IncidentTitle')?.touched"
                        class="text-danger validate">
                        Title is required.
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="incident-occured-date">Incident Occurred Date</label>
                    <p-calendar id="incident-occured-date" formControlName="IncidentOccuredDate" dateFormat="yy-mm-dd"
                        required></p-calendar>
                    <div *ngIf="viewform.get('IncidentOccuredDate')!.hasError('required') && viewform.get('IncidentOccuredDate')?.touched"
                        class="text-danger validate">
                        Incident Occurred Date is required.
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="incident-occured-time">Incident Occurred Time</label>
                    <input pInputText type="time" id="incident-occured-time" formControlName="IncidentOccuredTime"
                        required>
                    <div *ngIf="viewform.get('IncidentOccuredTime')!.hasError('required') && viewform.get('IncidentOccuredTime')?.touched"
                        class="text-danger validate">
                        Incident Occurred Time is required.
                    </div>
                </div>
            </div>

            <div class="p-field p-fluid m-3">
                <label for="incident-description">Incident Description</label>
                <textarea pInputTextarea id="incident-description" rows="4" formControlName="IncidentDescription"
                    required></textarea>
                <div *ngIf="viewform.get('IncidentDescription')!.hasError('required') && viewform.get('IncidentDescription')?.touched"
                    class="text-danger validate">
                    Incident Description is required.
                </div>
            </div>

            <div class="p-field m-3">
                <label for="incident-attachment">Attach Documents</label>

                <p-fileUpload id="incident-attachment" formControlName="DocumentFiles" [showUploadButton]="false"
                    customUpload="true" (uploadHandler)="onFileUpload($event)" multiple auto>
                    <ng-template pTemplate="empty">
                        <div class="flex align-items-center justify-content-center flex-column">
                            <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
                            <p class="mt-4 mb-0">Drag and drop files here to upload.</p>
                        </div>
                    </ng-template>
                </p-fileUpload>


            </div>
            <div class="p-grid p-fluid m-3">
                <div class="p-field p-col-12 p-md-4">
                    <label for="incidents-type">Incident Type</label>
                    <p-dropdown id="incidents-type" [options]="incidentTypes"
                        formControlName="IncidentType"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="category">Category</label>
                    <p-dropdown id="category" [options]="categories" formControlName="Category"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="priority">Incident Priority</label>
                    <p-dropdown id="priority" [options]="priorities" formControlName="Priority"></p-dropdown>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" label="Submit" class="savebutton">Submit</button>
                <button type="button" label="Save as Draft" (click)="saveAsDraft()" class="savebutton">Save as
                    Draft</button>
            </div>
        </form>
    </div>
</div>