<app-card title="Privacy Incidents" [totalCount]="10" [pendingCount]="3" [closedCount]="7" [iconSvg]="privacyIconSvg"
  cardClass="privacy-card" [color1]="'#A27AD7'" [color2]="'#554071'" [color1Percentage]="'19%'"
  [color2Percentage]="'100%'"></app-card>

<app-card title="Security Incidents" [totalCount]="12" [pendingCount]="7" [closedCount]="5" [iconSvg]="securityIconSvg"
  cardClass="security-card" [color1]="'#3F69BA'" [color2]="'#4567AA'" [color1Percentage]="'86%'"
  [color2Percentage]="'100%'"></app-card>

<app-card title="Quality Incidents" [totalCount]="11" [pendingCount]="6" [closedCount]="5" [iconSvg]="qualityIconSvg"
  cardClass="quality-card" [color1]="'#65A3F6'" [color2]="'#106BE6'" [color1Percentage]="'0%'"
  [color2Percentage]="'100%'"></app-card>