<div class="side-bar">
  <div class="icons">
      <div class="dash-icon" (click)="logout()">
          <img src="icons/dashboard-icon.svg" alt="Dashboard icon">
      </div>
      <div class="noti">
        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="position-relative bi bi-bell fs-4">
            <span class="position-absolute top-0 translate-middle badge rounded-pill bg-primary ">
            4
          </span>
        </button> 
    </div>
      <div class="settings">
          <button><i class="bi bi-gear"></i></button>
      </div>
  </div>
  <div class="profile-icon" (click)="logout()">
    <button ><img src="icons/profile-circle-svgrepo-com.svg" alt="Profile icon" ></button>
  </div>
</div>

<app-notification-modal></app-notification-modal>
  