<div class="side-bar">
  <div class="icons">
      <div class="dash-icon">
          <img src="icons/dashboard-icon.svg" alt="Dashboard icon">
      </div>
      <div class="noti">
          <button><i class="bi bi-bell" pBadge value="2"></i></button>
      </div>
      <div class="settings">
          <button><i class="bi bi-gear"></i></button>
      </div>
  </div>
  <div class="profile-icon">
    <!-- <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <p-button (onClick)="menu.toggle($event)" icon="pi pi-user"></p-button> -->
    <button (click)="openProfile($event)">
        <i class="bi bi-person-circle" style="font-size: 2.5rem;"></i>
      <!-- <i class="pi pi-user" style="font-size: 1.5rem;"></i> -->
    </button>
    <!-- <img src="icons/profile-circle-svgrepo-com.svg" alt="Profile icon"> -->
  </div>
</div>
