<div class="profile-popup">
  <div class="profile-header">
    <img src="icons/profile-circle-svgrepo-com.svg" alt="Profile icon" class="profile-image">
    <div class="user-info">
      <h6 class="user-name">{{ userName }}</h6>
      <p class="role-tag">{{ role }}</p>
    </div>
  </div>
  <p class="designation">{{ designation }}</p>
 <button  type="button" label="Logout" icon="bi bi-box-arrow-right" class="logout-button">
    <i class="bi bi-box-arrow-right"></i>
    Logout
  </button>
</div>
