.chart-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.chart-wrapper {
  width: 70%;
  // height: 400px;
}


:host ::ng-deep .p-chart {
  width: 100% !important;
  height: 100% !important;
}
