<div class="flex justify-content-center ">
    <div class="forward-button">
      <p-button (click)="showDialog()" label="Forward" />
    </div>
    <p-dialog
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '40rem', height : '32rem'}"
      [breakpoints]="{ '1199px': '50vw', '575px': '80vw' }"
      [draggable]="false"
      [maximizable]="true">
      <ng-template pTemplate="header">
        <div class="dialog-header">
        <div class="selected-users">
          @for(user of selectedUsers; track user.user_id){
              <div class="person-details1" >
                <div class="image-icon">
                  <img [src]="user.user_icon" alt="" />
                </div>
                <div class="name-details1">
                  <p>{{user.user_name}}</p>
                </div>
                <button type="button" (click)="removeUser(user)"><i class="bi bi-x fs-5"></i></button>
              </div>
          }
          </div>
        <div class="dialog-header-content">
          <span class="dialog-header-title">To :</span>
          <input
            type="text"
            pInputText
            placeholder="Enter the name, email"
            [(ngModel)]="searchTerm"
            class="dialog-search-input"
          />
        </div>
      </div>

      </ng-template>

      <div class="forward-names">
        @for(items of user_details | filter: searchTerm: getSelectedUserIds(); track items.user_id){
            <div class="person-details" type="button" (click)="addUser(items)">
                <div class="image-icon">
                    <img [src]="items.user_icon" alt="">
                </div>
                <div class="name-details">
                    <p>{{items.user_name}}</p>
                    <p class="p1">{{items.user_role}}</p>
                </div>
            </div>
        }
     </div>
  
      <ng-template pTemplate="footer">
        <div class="text-message">
          <textarea placeholder="Type a message" class="dialog-textarea" (input)="autoResize($event)"></textarea>
          <div class="d-flex align-items-center">
            <button type="submit" class="d-flex align-items-center">Forward <i class="pi pi-send"></i></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </div>
  