.table-section
{
  position: relative;
  margin-top: 1%;
}
.p-input-icon-left
{
  margin-left: 10px;
}
.search
{
  height: 35px;
  width: 75%;
}
.bi-eraser
{

  font-size:25px;
  color: rgb(25, 84, 156);

}
.bi-eraser:hover
{
  cursor: pointer;
}

.bi-send:hover
{
  cursor: pointer;
}

.bi-send
{

  font-size:20px;
  color: rgb(116, 15, 156);

}

th {
  position: relative;
}

th p-sortIcon, th p-columnFilter {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  right: 5px;
  top: 51%;
  transform: translateY(-50%);
}

th:hover p-sortIcon, th:hover p-columnFilter {
  opacity: 1;
}

