/* Root Variables */
:root {
  --primary-color: #256fab;
  --secondary-color: #607D8B;
  --font-size: 12px;
  --table-text-size: 12px;
  --font-size-large: 1rem;
  --font-size-small: 0.8rem;
  --button-height: 2rem;
  --button-width: 7rem;
  --border-radius: 8px;
  --padding-small: 0.5rem;
  --padding-large: 1rem;
}



.table-section {
  position: relative;
  margin-top: 1%;
  overflow-x: hidden;
}

#tableRef {
  width: 70vw;
}

/* Input Styles */
.p-input-icon-left {
  margin-left: 10px;
}

.search {
  height: 35px;
  width: 75%;
}

.table-top {
  height: 20px !important;
}

/* Icon Styles */
.bi-eraser {
  color: rgb(25, 84, 156);
}

.bi-send {
  color: rgb(116, 15, 156);
  margin-left: 5px;
}

/* Table Header & Cell Styles */
th {
  color: var(--primary-color);
  position: relative;
}

td {
  font-size: 13px;
}

th p-sortIcon,
th p-columnFilter {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  right: 5px;
  top: 51%;
  transform: translateY(-50%);
}

th:hover p-sortIcon,
th:hover p-columnFilter {
  opacity: 1;
}

/* Custom Styles */
.custom-overlay {
  width: 100px;
  border-radius: 5px;

}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.custom-item:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.custom-item i {
  font-size: 21px;
  color: #5e11a0;
}

.custom-item:hover i {
  color: #3683d4;
}

/* PrimeNG Overrides */
::ng-deep .p-inputtext,
::ng-deep .p-column-filter-matchmode-dropdown,
::ng-deep .p-multiselect {
  height: 35px;
}

::ng-deep .p-multiselect-token {
  height: 20px;
}

::ng-deep .p-multiselect-token-icon {
  height: 13px;
  width: 13px;
}

::ng-deep .p-multiselect-items {
  z-index: 100;
  padding-left: 0;
  height: 110px;
}

::ng-deep .p-multiselect-filter {
  min-height: 3px;
}

p-table th,
p-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  /* Medium Screens */
}

@media screen and (max-width: 960px) {
  :host ::ng-deep .p-datatable-customers .p-datatable-thead>tr>th,
  .p-datatable-tfoot>tr>td {
    display: none !important;
  }

  :host ::ng-deep .p-datatable-customers .p-datatable-tbody>tr {
    border-bottom: 1px solid var(--layer-2);

    > td {
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      border: 0 none;

      .p-column-title {
        min-width: 30%;
        display: inline-block;
        font-weight: bold;
      }
    }

    &:last-child {
      border-bottom: 1px solid var(--surface-d);
    }
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }

  p-table th,
  p-table td {
    font-size: var(--font-size-small);
  }
}

/* Button Styles */
.addincidentbtn {
  height: var(--button-height);
  width: var(--button-width);
}

.approvebtn,
.rejectbtn,
.reviewbtn {
  border-radius: var(--border-radius) !important;
  width: 2.2rem;
  height: 1.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.reviewbtn {
  border-radius: 6px !important;
  height: 1.5rem;
  text-align: center;
  font-size: 12px;
}

.approvebtn {
  margin-right: 10px;
}

/* Enhanced Dialog */
.enhanced-dialog {
  background-color: #ffffff;
  color: #333333;
  padding: var(--padding-large);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  text-align: center;
}

.enhanced-header {
  color: #000000;
  font-weight: 600;
}

.enhanced-message {
  font-size: 1.1rem;
  color: #555555;
}

.enhanced-button {
  font-size: 1rem;
  padding: 10px;
}

/* Utility Classes */
.text-white {
  color: #ffffff;
}

.cancelconfirm,
.confirmapprove {
  border-radius: var(--border-radius) !important;
  width: 5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.confirmapprove {
  margin-right: 7px;
}

.text-3xl {
  font-size: var(--font-size-large);
}

.ml-2 {
  margin-left: var(--padding-small);
}

.resize-handle {
  font-size: 20px;
  color: #898686;
}

.resize-handle:hover {
  color: #000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex {
  display: flex;
}

/* Severity Levels */
.severity-low {
  color: green;
  font-weight: bold;
}

.severity-medium {
  color: rgb(214, 142, 10);
  font-weight: bold;
}

.severity-high {
  color: red;
  font-weight: bold;
}

/* Faded Icons */
.faded-icon {
  opacity: 0.5;
  color: #607D8B;
  pointer-events: none;
}

.faded-edit-icon {
  opacity: 0.2;
  color: #666768;
}

/* Additional Styles */
.cancelconfirm,
.confirmapprove {
  border-radius: var(--border-radius) !important;
  width: 5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.confirmapprove {
  margin-right: 7px;
}

.text-3xl {
  font-size: 2rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
