.table-section {
  position: relative;
  margin-top: 1%;
}

.p-input-icon-left {
  margin-left: 10px;
}

.search {
  height: 35px;
  width: 75%;
}

.table-top {
  height: 20px !important;
}

.bi-eraser {
  color: rgb(25, 84, 156);
}

.bi-send {
  color: rgb(116, 15, 156);
  margin-left: 5px;
}


th {
  position: relative;
}

td {
  font-size: 13px;
}

th p-sortIcon,
th p-columnFilter {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  right: 5px;
  top: 51%;
  transform: translateY(-50%);
}

th:hover p-sortIcon,
th:hover p-columnFilter {
  opacity: 1;
}

.custom-overlay {
  width: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.custom-item:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.custom-item i {
  font-size: 21px;
  color: #5e11a0;
}

.custom-item:hover i {
  color: #3683d4;
}



::ng-deep .p-inputtext {
  height: 35px;
  padding: 0.25rem 0.1rem;
  font-size: 0.8rem;
}

::ng-deep .p-column-filter-matchmode-dropdown {
  height: 35px;
}

::ng-deep .p-dropdown-items {
  padding: 0%;
}

th {
  color: #256fab;
}

::ng-deep button {
  border-radius: 50% !important;
}



:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    height: 0.5rem;
    background-color: #D8DADC;

    .p-progressbar-value {
      background-color: #607D8B;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  .p-w-100 {
    width: 100%;
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            width: 100%;
            display: flex;
            align-items: center;
            border: 0 none;

            .p-column-title {
              min-width: 30%;
              display: inline-block;
              font-weight: bold;
            }

            p-progressbar {
              width: 100%;
            }

            &:last-child {
              border-bottom: 1px solid var(--surface-d);
            }
          }
        }
      }
    }
  }
}

.severity-low {
  color: green;
  font-weight: bold;
}

.severity-medium {
  color: rgb(214, 142, 10);
  font-weight: bold;
}

.severity-high {
  color: red;
  font-weight: bold;
}

.faded-icon {
  opacity: 0.5;
  color: #607D8B;
  pointer-events: none;
}

::ng-deep .p-multiselect {
  height: 35px;
}

::ng-deep .p-multiselect-token {
  height: 18px;
  background: none;
}

::ng-deep .p-multiselect-token-icon {
  height: 13px;
  width: 13px;
}

::ng-deep .p-multiselect-items {
  z-index: 100;
  padding-left: 0px;
  height: 110px;
}

::ng-deep .p-multiselect-filter {
  min-height: 3px;
}

p-table th,
p-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resize-handle {
  font-size: 20px;
  color: #898686;
}

.resize-handle:hover {
  color: #000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex {
  display: flex;
}
.approvebtn,
.rejectbtn {
  border-radius: 8px !important;
  width: 2.2rem;
  height: 1.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.reviewbtn{
  border-radius: 6px !important;
  // width: 5.1rem !important;
  height: 1.5rem;
  text-align: center;
  display:flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}

.approvebtn {
  margin-right: 10px;
}

.bi-check,
.bi-x {
  font-size: 30px;
}


.enhanced-dialog {
  background-color: #ffffff;
  color: #333333;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  text-align: center;
}

.enhanced-header {
  color: #000000;
  font-weight: 600;
}

.enhanced-message {
  font-size: 1.1rem;
  color: #555555;
}

.enhanced-button {
  font-size: 1rem;
  padding: 10px;
}

/* Utility Classes */
.text-white {
  color: #ffffff;
}

.cancelconfirm,
.confirmapprove {
  border-radius: 8px !important;
  width: 5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.confirmapprove {
  margin-right: 7px;
}

.text-3xl {
  font-size: 2rem; /* Adjust size as needed */
}

.ml-2 {
  margin-left: 0.5rem; /* Adjust margin as needed */
}
